$darkColor: #141212;
$mainColorT: rgba(24,22,22,0.74);
$mainColor: rgb(24,22,22);
$darkColor2: #1f1c1c;
$bgColor: #242021;
$lightColor: #b2a18f;
$lightColor2: #665f59;
$textColor: #3d3935;
$sosal_BLK_141212: #141212;
$sosal_Dark3_181616: #181616;
$sosal_Dark2_1F1C1C: #1f1c1c;
$sosal_Dark1_242021: #242021;
$WhiteTextD1CDCB: #d1cdcb;
$sosal_Lighten3_B2A18F: #b2a18f;
$sosal_Lighten2_665F59: #665f59;
$sosal_Lighten1_3D3935: #3d3935;
$sosal_MainLig1_FFC700: #ffc700;
$sosal_MainLig2_FF9900: #ff9900;
$sosal_Main_FF8000: #ff8000;
$sosal_MainDrk1_FF5900: #ff5900;
$sosal_MainDrk2_D94C00: #d94c00;
$sosal_SubC1_FF5CE4: #ff5ce4;
$sosal_SubC2_DD30E4: #dd30e4;
$sosal_SubC3_A330E4: #a330e4;
$sosal_SubC4_870FF7: #870ff7;
$sosal_SubC5_6000CF: #6000cf;
$sosal_ChartC-A_2BFFBC: #2bffbc;
$sosal_ChartC-B_E70089: #e70089;
$AttentionLightText: #ffc899;
